@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

// Estilos para botones
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  border-radius: v.$radius;
  border: none;
  font-family: v.$font-main;
  cursor: pointer;
  transition: all 0.2s;

  &--primary {
    background-color: v.$primary-color;
    color: white;

    &:hover {
      background-color: v.$primary-hover-color;
    }
    
    &:active {
      background-color: v.$primary-active-color;
    }

  }

  &--large {
    padding: 1rem 1.5rem;
  }
}