@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

:root {
  .mat-mdc-form-field-error {
    @include m.layout-flex(row, flex-start, center, nowrap);
    margin-top: 0;
    min-height: auto;
    color: v.$error-icon-color;
  }
  
  .mat-mdc-form-field-error-wrapper{
    padding: 0;
  }
  
}
.error-list-continer {
  @include m.layout-flex(column,flex-start,flex-start,nowrap);

}
.error-list {
  overflow: auto;
  margin-top: 0;
  font-size: 12px;
  color: v.$error-icon-color;
  width: 100%;
  
  .error-row{
    @include m.layout-flex(row, flex-start, flex-start, nowrap);
    
    .error-icon {
      flex-shrink: 0;
      margin-right: 0.5rem;
    }
  }
}
