@use 'abstracts/variables' as v;
@use 'abstracts/mixins'as m;

th.mat-column-state,
th.mat-column-actions {
    text-align: center;
}

.mat-column-id {
    width: 15%;
    padding-left: 2rem;
}

.mat-column-name {
    width: 25%;
}

.mat-column-menus {
    width: 25%;
    font-size: 0.9rem;
    color: #666;
}

.mat-column-state,
.mat-column-actions {
    width: 17.5%;
    text-align: center !important;
}



.btn-menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 4px;
    transition: background 0.2s;
}

.btn-menu:hover {
    background: rgba(0, 0, 0, 0.1);
}


.icon-menu {
    width: 1.25rem;
    height: 1.25rem;
    fill: rgb(150, 150, 137);
}


.btn-menu:hover .icon-menu {
    fill: #333;
}
