@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

.loading-container {
    @include m.layout-flex(column);
    padding: 2rem;
    gap: 1rem;
}

.no-roles-message {
    text-align: center;
    padding: 2rem;
}

.role-item {
    padding: 0.5rem;
    border-radius: v.$radius;
    transition: background-color 0.2s ease;
    box-sizing: border-box;
    min-width: min-content;
    margin: 0 0.25rem;
}

.role-item:hover {
    background-color: v.$light-primary-color;
}
.role-toggle{
    margin-inline: 0.25rem;
}

.role-name {
    margin-left: 0.75rem;
}

.mat-mdc-dialog-actions {
    margin-right: 1rem;
}