@use 'abstracts/mixins' as m;
@use 'abstracts/variables' as v;

.update-password-container {
    @include m.layout-flex(column, space-between, center);
    width: 100vw;
    height: 100vh;
    background-color: v.$white-color;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    @include m.respond-to(lg) {
        @include m.layout-flex(row, space-between, center);
    }

    .logo-container {
        @include m.layout-flex(column, flex-end, center);
        width: calc(100vw - 4rem);
        height: 50vh;
        padding-bottom: 1rem;
        
        @include m.respond-to(xl) {
            @include m.layout-flex(column, center, center);
            width: 50vw;
        }

        img {
            width: 8rem;
            height: 10rem;

            @include m.respond-to(md) {
                width: 9rem;
                height: 11rem;
            }
            @include m.respond-to(xl) {

                width: 14rem;
                height: 16rem;
            }
        }

        .title-app-mobile {
            font-family: 'Fredoka', sans-serif;
            font-size: 2.25rem;
            font-weight: 600;
            color: v.$dark-color;
            
            @include m.respond-to(md) {
                font-size: 2.5rem;
            }

            @include m.respond-to(xl) {
                font-size: 4rem;
            }
        }
    }

    .update-password-form {
        @include m.layout-flex(column, flex-end, center);
        width: calc(100vw - 4rem);
        height: 50vh;
        padding-block: 1rem;
        
        .title-container {
            color: v.$primary-color;
            padding-block: 1.5rem;
            
            @include m.respond-to(md) {
                padding-block: 0.5rem;
            }
        
        }

        .form-input-container {
            margin-bottom: 0.5rem;
        }

        @include m.respond-to(lg) {
            width: 50vw;
            @include m.layout-flex(column, center, center);
            margin-bottom: 0;
            padding-right: 8rem;
            padding-block: 0;
        }

        .btn-update-pass {
            width: 100%;
            height: 3rem;
            color: v.$white-color;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
            padding: 0.75rem 1.5rem;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            background-color: v.$primary-color;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            margin-top: auto;
            margin-bottom: 1rem;
    
            &:hover:not(:disabled) {
                background-color: v.$primary-hover-color;
            }
    
            &:active {
                background-color: v.$primary-active-color;
                opacity: 0.95;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            }
            &:disabled {
                background-color: v.$gray-200;
                cursor: not-allowed;
            }

            @include m.respond-to(lg) {
                width: 100%;
                height: 3.25rem;
                margin-top: 1.5rem;
            }
    
            @include m.respond-to(xl) {
                width: 100%;
                height: 3.5rem;
                font-size: 1.25rem;
            }
    
        }
    }

}

.mat-icon, mat-icon.mat-primary {
    right: 0.25rem;
}
