<p mat-dialog-title>Recuperar Contraseña</p>
<mat-dialog-content>
    <form (submit)="passwordRecovery($event)">
        <div class="form-input-container">
            <label for="usuario" class="label-input-container">Usuario:</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="usuario" [formField]="forgetPassForm.nombre_usuario" placeholder="Ej. kcristobal" [errorStateMatcher]="usuarioError.matcher" (input)="errorService.limpiarCampoBackend(backendErrors, 'nombre_usuario')" soloLetrasPuntoUsuario/>
            </mat-form-field>
            @if (usuarioError.mostrarErrores()) {
                <mat-error class="error-list-container">
                    <div class="error-list">
                        @for (error of usuarioError.errores(); track error.kind) {
                            <div class="error-row">
                                <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                                <span>{{ error.message }}</span>
                            </div>
                        }
                    </div>
                </mat-error>
            }
        </div>
        <div class="form-input-container">
            <label for="email" class="label-input-container">Email:</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="email" type="email" [formField]="forgetPassForm.email" placeholder="Ej. kcristobal@gmail.com"  [errorStateMatcher]="emailError.matcher" (input)="errorService.limpiarCampoBackend(backendErrors, 'correo')" />
            </mat-form-field>
            @if (emailError.mostrarErrores()) {
                <mat-error class="error-list-container">
                    <div class="error-list">
                        @for (error of emailError.errores(); track error.kind) {
                            <div class="error-row">
                                <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                                <span>{{ error.message }}</span>
                            </div>
                        }
                    </div>
                </mat-error>
            }
        </div>
        <mat-dialog-actions align="end">
            <button matButton mat-dialog-close>No, Cancelar</button>
            <button matButton [disabled]="isLoading()">
                {{ isLoading() ? "Cargando..." : "Sí, Recuperar" }}
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
