<p mat-dialog-title>Recuperar Contraseña</p>
<mat-dialog-content>
    <form (submit)="passwordRecovery($event)">
        <div class="form-input-container">
            <label for="usuario" class="label-input-container">Usuario: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic" [class.mat-form-field-invalid]="(forgetPassForm.usuario().invalid() && forgetPassForm.usuario().touched() || showUsuarioErrors().length>0)">
                <input matInput id="usuario" [formField]="forgetPassForm.usuario" (input)="onInputChange()" placeholder="Ej. kcristobal"  />
            </mat-form-field>
            @if (forgetPassForm.usuario().invalid() && forgetPassForm.usuario().touched()) {
                <mat-error class="error-list-container">
                    <div class="error-list">
                        @for (error of forgetPassForm.usuario().errors(); track error.kind) {
                            <div class="error-row">
                                <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                                <span>{{ error.message }}</span>
                            </div>
                        }
                    </div>
                </mat-error>
            }
            @if (showUsuarioErrors().length > 0 && !forgetPassForm.usuario().invalid()) {
                <mat-error class="error-list-container">
                    <div class="error-list">
                        @for (error of showUsuarioErrors(); track error.kind || $index) {
                            <div class="error-row">
                                <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                                <span>{{ error.message }}</span>
                            </div>
                        }
                    </div>
                </mat-error>
            }
        </div>
        <div class="form-input-container">
            <label for="email" class="label-input-container">Email: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic" appearance="outline" class="custom-input" subscriptSizing="dynamic" [class.mat-form-field-invalid]="(forgetPassForm.email().invalid() && forgetPassForm.email().touched() || showEmailErrors().length>0)">
                <input matInput id="email" type="email" [formField]="forgetPassForm.email" (input)="onInputChange()" placeholder="Ej. kcristobal@gmail.com"/>
            </mat-form-field>
            @if (forgetPassForm.email().invalid() && forgetPassForm.email().touched()) {
                <mat-error class="error-list-container">
                    <div class="error-list">
                        @for (error of forgetPassForm.email().errors(); track error.kind) {
                            <div class="error-row">
                                <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                                <span>{{ error.message }}</span>
                            </div>
                        }
                    </div>
                </mat-error>
            }
            @if (showEmailErrors().length > 0 && !forgetPassForm.email().invalid()) {
                <mat-error class="error-list-container">
                    <div class="error-list">
                        @for (error of showEmailErrors(); track error.kind || $index) {
                            <div class="error-row">
                                <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                                <span>{{ error.message }}</span>
                            </div>
                        }
                    </div>
                </mat-error>
            }
        </div>
        <mat-dialog-actions align="end">
            <button matButton mat-dialog-close>No, Cancelar</button>
            <button matButton>Sí, Recuperar</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
