@use 'variables' as v;

@mixin respond-to($breakpoint) {
  @media (min-width: map-get(v.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin layout-flex($direction:row,$justify: center, $align: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    @content;
}

@mixin custom-box($color, $radio: 4px) {
    background-color: $color;
    border-radius: $radio;
    padding: 15px;
}


@mixin grid ($justify: center, $align: center) {
    display: grid;
    justify-content: $justify;
    align-content: $align;
    @content;
}

@mixin button-style($bg-color:$primary-color) {
    background-color: $bg-color;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    @content;
}
