$breakpoints: (
  xs: 360px,   // móviles pequeños
  sm: 414px,   // móviles grandes
  md: 768px,   // tablets
  lg: 1024px,  // laptops
  xl: 1440px,  // desktops grandes
  xxl: 1920px  // full HD y más
);

// Escala de Grises
$white:    #ffffff;
$gray-100: #f8f9fa;
$gray-200: hsl(208, 7%, 95%);
$gray-400: hsl(208, 7%, 70%);
$gray-500: #6c757d;
$gray-900: #212529;

// -----------------------------------------------------------------------------
// Definición de colores
$primary-color: hsl(206, 87%, 56%);
$primary-hover-color: hsl(206, 87%, 45%);
$primary-active-color: hsl(207, 86%, 43%);
$secondary-color: #2ee0d7;
$tertiary-color: #df7c2d;
$quaternary-color: #df2d90;
$important-color:#2d37df;
$error-color: hsl(0, 100%, 50%);
$error-icon-color: #f44336;
$forget-pass-color: #f44336;
$delete-color: hsl(0, 100%, 60%);
$edit-color: #ffff00;
$deactive-color: hsl(0, 100%, 70%);
$cancelar-color: hsl(357, 74%, 65%);
$cancelar-active-color: hsl(357, 74%, 49%);
$cancelar-hover-color: hsl(357, 74%, 55%);

// Espaciados y Bordes
$radius: 0.25rem;
$padding-input: 0.75rem 1rem;
$font-main: 'Roboto', sans-serif;

// Background de chips
$quaternary-chip: hsl(327, 74%, 50%);
$important-chip:hsl(237, 74%, 50%);
$danger-chip: hsl(357, 74%, 50%);
$success-chip: hsl(177,74%, 50%);
$info-chip:hsl(57, 84%, 50%);
$tertiary-chip: hsl(27, 74%, 50%);

// Background de alertas
$info-color:hsl(57, 74%, 87%);
$warning-color: hsl(207, 74%, 87%);
$error-color: hsl(357, 74%, 87%);
$success-color: hsl(177,74%, 87%);

// Color de iconos
$icon-error-color: #ba1a1a;

// Color de error input material
$error-input-color: #ba1a1a;

// Background light
$light-primary-color: hsl(206, 87%, 92%);
$light-secondary-color: hsl(177,74%, 65%);
$light-tertiary-color: hsl(27, 74%, 65%);
$light-info-color: hsl(237, 74%, 65%);
$light-error-color: hsl(357, 74%, 65%);

// Definición de fuentes
$font-stack:"Roboto", "Arial", sans-serif;
$text-color: #333333;
$font-size:16px;
$spacing:1.5em;

// Color de fuente
$dark-color: #1a1b1f;
$white-color: #ffffff;

// Color de fuente
$primary-font: $primary-color;
$tertiary-font: $tertiary-color;
$pink-font: $quaternary-color;
$success-font: hsl(177, 100%, 50%);
$important-font: $important-color;
$error-font: $error-color;