@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

.alert-wrapper {
    @include m.layout-flex(row,flex-end,center);
    width: 100%;
    gap: 0;
}

.alert-content {
    @include m.layout-flex(row, flex-start, center);
    gap: 0;
    flex: 1;

    .alert-icon {
        font-size: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
        @include m.layout-flex();
        transform: scale(1.2);
    }

    .alert-message {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.2;
        margin-inline: 0.5rem;
        @include m.respond-to(md){
            white-space: pre-line;
        }
    }
}

.alert-close-btn {
    background: none;
    border: none;
    color: v.$gray-100;
    cursor: pointer;
    opacity: 0.7;
    @include m.layout-flex();
    padding: 0.25rem;
    transition: opacity 0.2s;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1rem;

    &:hover {
        opacity: 1;
    }

    .close-icon {
        font-size: 1.5rem;
    }
}