@use 'abstracts/variables' as v;
@use 'abstracts/mixins'as m;

th.mat-column-actions,
th.mat-column-state {
    text-align: center;
}

.mat-column-id {
    width: 5%;
}

.mat-column-username {
    width: 10%;
}

.mat-column-name {
    width: 35%;
}

.mat-column-role {
    width: 25%;
}

.mat-column-state {
    width: 10%;
    text-align: center !important;
}

.mat-column-actions {
    text-align: center !important;
    vertical-align: middle;
    width: 15%;

    button + button{
        margin-left: 0.5rem;
    }
}
