@use 'abstracts/mixins' as m;

.welcome-container{
    @include m.layout-flex(column, center, center, nowrap);
    
    .welcome-title {
        font-size: 2.5rem;
        margin-top: 0;
        padding-top: 0;
        font-family: 'Fredoka',sans-serif;
    }
    
    .welcome-text {
        margin-top: 1rem;
        font-size: 1.125rem;
        font-style: italic;
    }
    
    img{
        margin-bottom: 0;
        padding-bottom:0;
    }
    
    @include m.respond-to(md){
        .welcome-title {
            font-size: 2.75rem;
        }

        .welcome-text {
            font-size: 1.25rem;
        }

        img{
            width: 11rem;
            height: 13.5rem;
        }
    }

    @include m.respond-to(lg){
        img{
            width: 12rem;
            height: 16rem;
        }
        
        .welcome-title {
            font-size: 2.875rem;
        }
        
        .welcome-text {
            font-size: 1.375rem;
        }
    }
}