<section class="container">
    <div class="title-container">
        <div class="title-body">
            <p class="title">Gestión de menús</p>
            <p class="subtitle">Menús</p>
        </div>
        <div class="menu-route">
            <svg class="icon-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" routerLink="/home/welcome/">
                <path fill="currentColor" d="M261.56 101.28a8 8 0 0 0-11.06 0L66.4 277.15a8 8 0 0 0-2.47 5.79L63.9 448a32 32 0 0 0 32 32H192a16 16 0 0 0 16-16V328a8 8 0 0 1 8-8h80a8 8 0 0 1 8 8v136a16 16 0 0 0 16 16h96.06a32 32 0 0 0 32-32V282.94a8 8 0 0 0-2.47-5.79Z"/>
                <path fill="currentColor" d="m490.91 244.15l-74.8-71.56V64a16 16 0 0 0-16-16h-48a16 16 0 0 0-16 16v32l-57.92-55.38C272.77 35.14 264.71 32 256 32c-8.68 0-16.72 3.14-22.14 8.63l-212.7 203.5c-6.22 6-7 15.87-1.34 22.37A16 16 0 0 0 43 267.56L250.5 69.28a8 8 0 0 1 11.06 0l207.52 198.28a16 16 0 0 0 22.59-.44c6.14-6.36 5.63-16.86-.76-22.97"/>
            </svg>
            &nbsp;&nbsp;
            <p class="module">Seguridad&nbsp;</p>
            <p>/ Menús</p>
        </div>
    </div>
    <div class="body-container">
        <div class="buttons-container">
            <app-button-component type="submit" label="Nuevo Menú" icon="plus" color="primary" (click)="createMenu()" onKeyPress />
        </div>
        <div class="search-container">
            <label for="buscarMenu">Buscar menú:</label>
            <mat-form-field class="custom-search-field" appearance="outline">
                <input matInput id="buscarMenu" [ngModel]="searchTerm()" (ngModelChange)="onSearchChange($event)" placeholder="Ej. Dashboard" 
                    #input>
                @if (searchTerm()) {
                    <button mat-icon-button matSuffix class="small-clear-btn" (click)="onSearchChange(''); input.value=''" aria-label="Limpiar">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>
        </div>
        <section class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="displayedMenus()" matSort (matSortChange)="onSortChange($event)" matSortDirection="desc">
                <ng-container matColumnDef="id_menu">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº</th>
                    <td mat-cell *matCellDef="let element"> {{element.id_menu}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre_menu">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Menú</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-set>
                            <mat-chip class="chips-nombre-menu" [matBadge]="element.nivel" matBadgeSize="large" matBadgeOverlap="false">
                                {{element.nombre_menu | subtitulo}}
                            </mat-chip>
                        </mat-chip-set>
                    </td>
                </ng-container>
                <ng-container matColumnDef="id_depende">
                    <th mat-header-cell *matHeaderCellDef>Menú padre</th>
                    <td mat-cell *matCellDef="let element">
                        {{ getMenuPadreName(element.id_depende) }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="nombre_modulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Módulo</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_modulo}} </td>
                </ng-container>
                <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef>Roles</th>
                    <td mat-cell *matCellDef="let element">
                        @if (element.roles && element.roles.length > 0) {
                            <mat-chip-set aria-label="Roles asignados">
                                @for (role of element.roles; track role.id_rol) {
                                    <mat-chip class="chips">{{role.nombre_rol | subtitulo}}</mat-chip>
                                }
                            </mat-chip-set>
                        }
                        @else {
                            <span class="no-roles">Sin roles</span>
                        }
                    </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element">
                        @if (element.estado) {
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" matTooltip="Activo" matTooltipPosition="below">
                                <path fill="hsl(206, 87%, 56%)" d="M23 12c0 6.075-4.925 11-11 11S1 18.075 1 12S5.925 1 12 1s11 4.925 11 11M9.305 18.11l9.402-9.403l-1.414-1.414l-7.883 7.883l-2.476-3.01l-1.511 1.31l3.882 4.633z" />
                            </svg>
                        }
                        @else {
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" matTooltip="Inactivo" matTooltipPosition="below">
                                <path fill="hsl(357, 74%, 65%)" fill-rule="evenodd" d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1S1 5.925 1 12s4.925 11 11 11m-1.414-11l-3.293 3.293l1.414 1.414L12 13.414l3.293 3.293l1.414-1.414L13.414 12l3.293-3.293l-1.414-1.414L12 10.586L8.707 7.293L7.293 8.707z" clip-rule="evenodd" />
                            </svg>
                        }
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element" class="menuActions">
                        <button type="button" class="btn-read-menu" matTooltip="Ver menú" matTooltipPosition="below" (click)="viewMenu(element)">
                            <svg class="icon-read-user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5" />
                            </svg>
                        </button>
                        <button type="button" class="btn-edit" matTooltip="Editar" matTooltipPosition="below" (click)="createMenu(element)">
                            <svg class="icon-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M17.204 10.796L19 9c.545-.545.818-.818.964-1.112a2 2 0 0 0 0-1.776C19.818 5.818 19.545 5.545 19 5s-.818-.818-1.112-.964a2 2 0 0 0-1.776 0c-.294.146-.567.419-1.112.964l-1.819 1.819a10.9 10.9 0 0 0 4.023 3.977m-5.477-2.523l-6.87 6.87c-.426.426-.638.638-.778.9c-.14.26-.199.555-.316 1.145l-.616 3.077c-.066.332-.1.498-.005.593s.26.061.593-.005l3.077-.616c.59-.117.885-.176 1.146-.316s.473-.352.898-.777l6.89-6.89a12.9 12.9 0 0 1-4.02-3.98" clip-rule="evenodd" stroke-width="1" />
                            </svg>
                        </button>
                        <button type="button" class="btn-assign" matTooltip="Asignar Roles" matTooltipPosition="below" (click)="openAssignRolesModal(element)">
                            <svg class="icon-assign" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                <path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM247-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47Zm466 0q-47 47-113 47-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113q0 66-47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q440-607 440-640t-23.5-56.5Q393-720 360-720t-56.5 23.5Q280-673 280-640t23.5 56.5Q327-560 360-560t56.5-23.5ZM360-240Zm0-400Z"/>
                            </svg>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="8">
                        @if (totalMenus() === 0 && !searchTerm()) {
                            <p class="no-data-message">"No se encontraron menús en el sistema."</p>
                        }
                        @else {
                            <p class="searchTerm-message">"No se encontraron resultados para tu búsqueda."</p>
                        }
                    </td>
                </tr>
            </table>
            <mat-paginator [length]="totalMenus()" [pageSize]="pageSize()" [pageIndex]="paginatorPageIndex()" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"showFirstLastButtons aria-label="Seleccionar página">
            </mat-paginator>
        </section>
    </div>
</section>