th.mat-column-roles,
th.mat-column-estado,
th.mat-column-actions,
.mat-column-nivel,
.mat-column-id_depende,
.mat-column-estado {
    text-align: center;
}

.mat-column-id_menu {
    width: 5%;
    padding-left: 2rem;
}

.mat-column-nombre_menu {
    width: 15%;
    justify-items: start;
}

.mat-column-id_depende {
    width: 20%;
}

.mat-column-nombre_modulo {
    width: 10%;
}

.mat-column-roles {
    width: 30%;
}

.mat-column-estado {
    width: 5%;
}

.mat-column-actions {
    width: 15%;
    text-align: center !important;
}

.no-roles {
    font-style: italic;
    text-align: center;
}
