@use 'abstracts/variables' as v;
@use 'abstracts/mixins'as m;

th.mat-column-roles,
th.mat-column-estado,
th.mat-column-actions {
    text-align: center;
}

.mat-column-id_menu {
    width: 5%;
    padding-left: 2rem;
}

.mat-column-nombre_menu {
    width: 15%;
}

.mat-column-nombre_modulo {
    width: 15%;
}

.mat-column-roles {
    text-align: center;
    width: 35%;
}

.mat-column-nivel,
.mat-column-orden {
    width: 5%;
    text-align: center;
}

.mat-column-estado,
.mat-column-actions {
    width: 10%;
    text-align: center !important;
}

.no-roles {
    font-style: italic;
    text-align: center;
}
