@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;


.persona-section, 
.usuario-section {
    border: 1px dotted v.$primary-color;
    border-radius: v.$radius;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-top: 1rem;
    margin-inline: 1rem;

    legend {
        text-transform: uppercase;
        text-align: center;
        color: v.$primary-color;
        padding-inline: 0.5rem;
    }
}
