<p mat-dialog-title>{{ isEditMode() ? 'Editar Usuario' : 'Agregar Usuario' }}</p>

<mat-dialog-content>
    <!-- Sección: Datos de persona -->
    <fieldset class="persona-section">
        <legend>Datos Personales</legend>
        <!-- Campo Tipo de Documento -->
        <div class="form-input-container">
            <label for="tipoDocumento" class="label-input-container">Tipo de documento:</label>
            <mat-form-field appearance="outline" class="custom-select">
                <mat-select id="tipoDocumento" [ngModel]="idTipoDocumento()" (ngModelChange)="idTipoDocumento.set($event)">
                    <mat-option [value]="0" selected>Seleccione una opción</mat-option>
                    <mat-option [value]="1">Documento nacional de identidad</mat-option>
                    <mat-option [value]="2">Carnet de extranjería</mat-option>
                    <mat-option [value]="3">Pasaporte</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Campo Número de Documento -->
        <div class="form-input-container" [ngClass]="{ 'con-error': numeroDocumentoError() }">
            <label for="numeroDocumento" class="label-input-container" [ngClass]="{ 'con-error': numeroDocumentoError() }">Número de Documento: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="numeroDocumento" [ngModel]="numeroDocumento()" (ngModelChange)="numeroDocumento.set($event)" (blur)="numeroDocumentoTouched.set(true)" placeholder="Ej. 12345678" required>
                
                @if (numeroDocumentoError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ numeroDocumentoError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
        <!-- Campo Nombres -->
        <div class="form-input-container" [ngClass]="{ 'con-error': nombresError() }">
            <label for="nombres" class="label-input-container">Nombres: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="nombres" [ngModel]="nombres()" (ngModelChange)="nombres.set($event)" (blur)="nombresTouched.set(true)" placeholder="Ej. Juan Carlos" required>
                
                @if (nombresError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ nombresError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
        <!-- Campo Apellido Paterno -->
        <div class="form-input-container" [ngClass]="{ 'con-error': apellidoPaternoError() }">
            <label for="apellidoPaterno" class="label-input-container">Apellido Paterno: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="apellidoPaterno" [ngModel]="apellidoPaterno()" (ngModelChange)="apellidoPaterno.set($event)" (blur)="apellidoPaternoTouched.set(true)" placeholder="Ej. Pérez" required>
                
                @if (apellidoPaternoError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ apellidoPaternoError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
        <!-- Campo Apellido Materno -->
        <div class="form-input-container" [ngClass]="{ 'con-error': apellidoMaternoError() }">
            <label for="apellidoMaterno" class="label-input-container">Apellido Materno: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="apellidoMaterno" [ngModel]="apellidoMaterno()" (ngModelChange)="apellidoMaterno.set($event)" (blur)="apellidoMaternoTouched.set(true)" placeholder="Ej. López" required>
                
                @if (apellidoMaternoError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ apellidoMaternoError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
        <!-- Campo Género -->
        <div class="form-input-container" [ngClass]="{ 'con-error': generoError() }">
            <label for="genero" class="label-input-container">Género: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <mat-select id="genero" [ngModel]="genero()" (ngModelChange)="genero.set($event)" (blur)="generoTouched.set(true)" required>
                    <mat-option value="" selected>Seleccione una opción</mat-option>
                    <mat-option value="M">Masculino</mat-option>
                    <mat-option value="F">Femenino</mat-option>
                </mat-select>
                
                @if (generoError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ generoError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
        <!-- Campo Teléfono -->
        <div class="form-input-container" [ngClass]="{ 'con-error': telefonoError() }">
            <label for="telefono" class="label-input-container">Teléfono: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="telefono" [ngModel]="telefono()" (ngModelChange)="telefono.set($event)" (blur)="telefonoTouched.set(true)" placeholder="Ej. 999999999" required>
                
                @if (telefonoError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ telefonoError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
        <!-- Campo Correo Personal -->
        <div class="form-input-container" [ngClass]="{ 'con-error': correoPersonalError() }">
            <label for="correoPersonal" class="label-input-container">Correo Personal: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="correoPersonal" [ngModel]="correoPersonal()" (ngModelChange)="correoPersonal.set($event)" (blur)="correoPersonalTouched.set(true)" placeholder="Ej. juan@gmail.com" required>
                
                @if (correoPersonalError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ correoPersonalError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
    </fieldset>

    <!-- Sección: Datos del usuario -->
    <fieldset class="usuario-section">
        <legend>Datos del Usuario</legend>
        <!-- Campo Email Institucional -->
        <div class="form-input-container" [ngClass]="{ 'con-error': emailError() }">
            <label for="emailInstitucional" class="label-input-container">Email Institucional: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <input matInput id="emailInstitucional" [ngModel]="email()" (ngModelChange)="email.set($event)" (blur)="emailTouched.set(true)" placeholder="Ej. usuario@institucion.edu.pe" required>
                
                @if (emailError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ emailError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
        <!-- Campo estado del usuario -->
        <div class="form-input-container">
            <label for="state" class="label-input-container custom-switch">Estado:</label>
            <mat-slide-toggle id="state" [checked]="isActive()" (change)="isActive.set($event.checked)">
                <p class="txt-switch">
                   El usuario está &nbsp;
                   <span class="state-text">{{ statusText().toLowerCase() }}.</span>
                </p>
            </mat-slide-toggle>
        </div>
        
        <!-- Campo Rol -->
        <div class="form-input-container" [ngClass]="{ 'con-error': emailError() }">
            <label for="rol" class="label-input-container">Roles: (*)</label>
            <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
                <mat-select id="rol" [ngModel]="idRoles()" (ngModelChange)="idRoles.set($event)" (blur)="idRolesTouched.set(true)" multiple required>
                    @for (role of roles(); track role.id_rol || role.id) {
                        <mat-option [value]="role.id_rol || role.id">{{ role.nombre_rol }}</mat-option>
                    }
                </mat-select>

                @if (idRolesError()) {
                    <mat-error class="error-with-icon">
                        <img [src]="errorIconPath()" class="error-icon" alt="Error" width="16" height="16" />
                        {{ idRolesError() }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
        
    </fieldset>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button  (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary" type="submit" [disabled]="isFormInvalid()" (click)="onSave()">{{ isEditMode() ? 'Actualizar' : 'Guardar' }}</button>
</mat-dialog-actions>
