th.mat-column-state,
th.mat-column-actions {
    text-align: center;
}

.mat-column-id {
    width: 20%;
}

.mat-column-name {
    width: 40%;
}

.mat-column-state,
.mat-column-actions {
    width: 20%;
    text-align: center !important;
}
