<section class="container">
    <div class="title-container">
        <div class="title-body">
            <p class="title">Gestión de roles</p>
            <p class="subtitle">Roles</p>
        </div>
        <div class="menu-route">
            <svg class="icon-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" routerLink="/home/welcome/">
                <path fill="currentColor" d="M261.56 101.28a8 8 0 0 0-11.06 0L66.4 277.15a8 8 0 0 0-2.47 5.79L63.9 448a32 32 0 0 0 32 32H192a16 16 0 0 0 16-16V328a8 8 0 0 1 8-8h80a8 8 0 0 1 8 8v136a16 16 0 0 0 16 16h96.06a32 32 0 0 0 32-32V282.94a8 8 0 0 0-2.47-5.79Z"/>
                <path fill="currentColor" d="m490.91 244.15l-74.8-71.56V64a16 16 0 0 0-16-16h-48a16 16 0 0 0-16 16v32l-57.92-55.38C272.77 35.14 264.71 32 256 32c-8.68 0-16.72 3.14-22.14 8.63l-212.7 203.5c-6.22 6-7 15.87-1.34 22.37A16 16 0 0 0 43 267.56L250.5 69.28a8 8 0 0 1 11.06 0l207.52 198.28a16 16 0 0 0 22.59-.44c6.14-6.36 5.63-16.86-.76-22.97"/>
            </svg>
            &nbsp;&nbsp;
            <p class="module">Seguridad&nbsp;</p>
            <p>/ Roles</p>
        </div>
    </div>
    <div class="body-container">
        <div class="buttons-container">
            <app-button-component type="submit" label="Nuevo Rol" icon="plus" color="primary" (click)="createRole()" onKeyPress />
        </div>
        
        <div class="search-container">
            <label for="buscarRol" style="display: block; margin-bottom: 8px; font-weight: bold;">Buscar rol</label>
            <mat-form-field class="custom-search-field">
                <input matInput id="buscarRol"
                    [ngModel]="searchTerm()" 
                    (ngModelChange)="onSearchChange($event)" 
                    placeholder="Ej. Operador" 
                    #input>
                
                <!-- Botón para limpiar el input (Solo visible si hay texto) -->
                @if (searchTerm()) {
                    <button mat-icon-button matSuffix class="small-clear-btn" (click)="onSearchChange(''); input.value=''" aria-label="Limpiar">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>
        </div>
        
        <div class="table-container">
            <table mat-table [dataSource]="displayedRoles()" class="mat-elevation-z8" matSort (matSortChange)="onSortChange($event)" matSortDirection="desc">
                <!-- Position Column -->
                <ng-container matColumnDef="id" class="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº</th>
                    <td mat-cell class="roleId" *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                  <!-- Name Column -->
                <ng-container matColumnDef="name" class="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <!-- State Column -->
                <ng-container matColumnDef="state" class="state">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td mat-cell *matCellDef="let element" class="roleState">
                        @if (element.state === 'Activo') {
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" class="state-active" matTooltip="{{element.state}}" matTooltipPosition="below">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="currentColor" d="M23 12c0 6.075-4.925 11-11 11S1 18.075 1 12S5.925 1 12 1s11 4.925 11 11M9.305 18.11l9.402-9.403l-1.414-1.414l-7.883 7.883l-2.476-3.01l-1.511 1.31l3.882 4.633z" />
                            </svg>
                        }
                        @else {
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" class="state-deactive" matTooltip="{{element.state}}" matTooltipPosition="below">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="currentColor" fill-rule="evenodd" d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1S1 5.925 1 12s4.925 11 11 11m-1.414-11l-3.293 3.293l1.414 1.414L12 13.414l3.293 3.293l1.414-1.414L13.414 12l3.293-3.293l-1.414-1.414L12 10.586L8.707 7.293L7.293 8.707z" clip-rule="evenodd" />
                            </svg>
                        }
                    </td>
                </ng-container>
                <!-- Opctions Column -->
                <ng-container matColumnDef="actions" class="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element" class="rolActions">
                        <button type="button" class="btn btn-edit" matTooltip="Editar" matTooltipPosition="right" (click)="createRole(element)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"  viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd" d="M17.204 10.796L19 9c.545-.545.818-.818.964-1.112a2 2 0 0 0 0-1.776C19.818 5.818 19.545 5.545 19 5s-.818-.818-1.112-.964a2 2 0 0 0-1.776 0c-.294.146-.567.419-1.112.964l-1.819 1.819a10.9 10.9 0 0 0 4.023 3.977m-5.477-2.523l-6.87 6.87c-.426.426-.638.638-.778.9c-.14.26-.199.555-.316 1.145l-.616 3.077c-.066.332-.1.498-.005.593s.26.061.593-.005l3.077-.616c.59-.117.885-.176 1.146-.316s.473-.352.898-.777l6.89-6.89a12.9 12.9 0 0 1-4.02-3.98" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4" style="text-align: center;">
                        No se encontraron roles que coincidieran con "{{ searchTerm() }}."
                    </td>
                </tr>
            </table>
        </div>
        <div class="pagination-container">
            <mat-paginator [length]="totalRoles()" [pageSize]="pageSize()" [pageIndex]="paginatorPageIndex()" [pageSizeOptions]="[5, 10, 20, 25]" (page)="onPageChange($event)"showFirstLastButtons aria-label="Seleccionar página">
            </mat-paginator>
        </div>
    </div>
</section>

