@use 'abstracts/variables' as v;
@use '@angular/material' as mat;

.mat-elevation-z8 {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-x: auto;
}

tr.mat-mdc-header-row {
    background-color: v.$light-primary-color;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

// Estilo base para todos los th
::ng-deep th.mat-mdc-header-cell {
    font-weight: bold;
    font-size: 14px;
}

td.mat-mdc-cell {
    padding: 12px 16px;
    font-size: 14px;
    background-color: none;
}

tr.mat-mdc-row:hover {
    background-color: #d8dce1;
    cursor: pointer;
}


// 2. CONTROL ESTRICTO DE ALINEACIÓN POR COLUMNA (TH y TD juntos para evitar conflictos)
th.mat-column-id,
th.mat-column-name,
th.mat-column-state {
    ::ng-deep .mat-sort-header-container {
        justify-content: center !important;
        flex-wrap: nowrap;
    }
}

th.mat-column-actions {
    text-align: center;
}

// A. Columna ID (Completamente Centrada)
.mat-column-id {
    text-align: center !important;
    width: 15%;

    // Forzamos el flex interno a centrarse solo en esta columna
    & :ng-deep .mat-sort-header-container {
        justify-content: center !important;
        flex-wrap: nowrap;
    }
}

// B. Columna Nombre/Rol (Alineada a la Izquierda)
.mat-column-name {
    width: 45%;
    text-align: start !important;
    padding-left: 24px !important;

    // Forzamos el flex interno a ir a la izquierda solo en esta columna
    & :ng-deep .mat-sort-header-container {
        justify-content: center !important;
        flex-wrap: nowrap;
    }
}

// C. Columna Estado (Completamente Centrada)
.mat-column-state {
    width: 20%;
    text-align: center !important;

    & :ng-deep .mat-sort-header-container {
        justify-content: center !important;
        align-items: center;
        flex-wrap: nowrap;
    }
}

// D. Columna Acciones (Completamente Centrada)
.mat-column-actions {
    width: 20%;
    text-align: center !important;
    flex-wrap: nowrap;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.btn-edit {
    background: none;
    border: none;
    color: v.$edit-color;

    svg {
        display: flex;
        align-items: center;
        justify-content: center;
        color: v.$edit-color;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.state-active {
    color: v.$secondary-color;
}

.state-deactive {
    color: v.$deactive-color;
}

    // Estilos para las alertas de MatSnackBar
    ::ng-deep .success-snackbar {
        background-color: #4caf50 !important;
        color: white !important;
        font-weight: 500;

        .mat-mdc-button {
            color: white !important;
        }
    }

    ::ng-deep .error-snackbar {
        background-color: #f44336 !important;
        color: white !important;
        font-weight: 500;

        .mat-mdc-button {
            color: white !important;
        }
    }