@use 'abstracts/mixins' as m;
@use 'abstracts/variables' as v;

.header {
    height: 3rem;
    @include m.layout-flex(row, space-between, center, nowrap);
    background-color: v.$white-color;
    padding: 1.5rem;
    border-bottom: 4px solid v.$primary-color;
    backdrop-filter: blur(5px);

    .sidebar-btn,
    .user-btn {
        @include m.layout-flex();
        cursor: pointer;
        border-radius: 50%;
        background-color: v.$white-color;
        border: none;
        padding: 0.25rem;

        .user-icon,
        .menubar-icon {
            width: 1.25rem;
            height: 1.25rem;
            color: v.$primary-color;
        }

        &:hover {
            border: 1px solid v.$primary-color;
            background-color: v.$light-primary-color;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
        }

        &:active {
            transform: scale(0.95);
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
        }
    }

    .sidebar-btn {
        @include m.respond-to(xs) {
            display: flex;
        }

        @include m.respond-to(md) {
            display: none;
        }
    }

    .logo {
        @include m.layout-flex();
        margin: 0;

        @include m.respond-to(xs) {
            display: none;
        }

        @include m.respond-to(md) {
            display: flex;
        }


        .logo-icon {
            width: 1.5rem;
            height: 1.5rem;
            color: v.$primary-color;
        }

        .logo-text {
            font-family: 'Fredoka', sans-serif;
            padding-left: 0.25rem;
            font-weight: 600;
            color: v.$primary-color;
        }
    }

    .welcome-container {
        @include m.layout-flex();
        
        .welcome-message {
            color: v.$dark-color;
            margin: 0;
            font-style: italic;
        }
    }

    .selected-role {
        background-color: v.$light-primary-color;
        color: v.$primary-color;
        font-weight: 600;
    }
}