@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

.icon-renderer {
    @include m.layout-flex();
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}