@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

.container{
    background-color: v.$light-primary-color;
    width: calc(100vw - 2rem);
    height: calc(100vh - 5.5rem);
    filter: drop-shadow(0);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    gap: 1rem;

    @include m.respond-to(md) {
        width: calc(100vw - 18rem);
        height: calc(100vh - 8rem);
    }

    .title-container {
        background-color: v.$white-color;
        border-radius: 0.5rem;
        padding: 1.25rem;
        flex-shrink: 0;
        @include m.layout-flex(column, center, flex-start, nowrap);

        .title-body{
            @include m.layout-flex(column,center, flex-start, nowrap);

            .title{
                font-size: 1.25rem;
                font-weight: 600;
                padding-block: 0.5rem;
            }
        }
        
        .menu-route{
            align-self: flex-end;
            @include m.layout-flex();
            border-radius: 1rem;
            background-color: v.$light-primary-color;
            padding:0.75rem;

            p{
                font-size: 0.875rem;
            }
            
            .icon-home{
                color: v.$primary-hover-color;
                width: 1rem;
                height: 1rem;
                border: none;
                cursor: pointer;
            }

            .module{
                color: v.$primary-hover-color; 
            }
        }

        @include m.respond-to(md) {
            @include m.layout-flex(row, space-between, flex-start, nowrap);

            .menu-route{
                align-self: center;
            }
        }
    } 

    .body-container{
        background-color: v.$white-color;
        border-radius: 0.5rem;
        padding-top: 0.5rem;
        padding-inline: 1.25rem;
        padding-bottom: 1rem;
        min-height: 0;
        overflow: auto;
        @include m.layout-flex(column, flex-start, flex-start, nowrap);

        .buttons-container{
            margin-top: 0.5rem;
            align-self: stretch;
            flex-shrink: 0;
            @include m.layout-flex(row, flex-end, flex-start, nowrap);
        }

        .search-container {
            align-self: stretch;
            flex-shrink: 0;
            @include m.layout-flex(column, flex-start, flex-start,nowrap);
            padding: 0;
            margin: 0;
            
            label {
                padding: 0.5rem 0;
                color: v.$primary-color;
                font-size: 0.875rem;
                font-weight: 600;
                display: block;
            }

            .small-clear-btn {
                &:hover {
                    mat-icon {
                        color: v.$white-color !important;
                    }
                }
            }
        }

        .btn-edit{
            background-color: transparent;
            border-style: none;
            cursor: pointer;
            padding: 0;
            margin: auto;
            
            .icon-edit {
                fill: v.$edit-color;
                width: 1.75rem;
                height: 1.75rem;
                stroke: #A3A300;
                transition: filter 0.2s ease-in-out
            }

            .icon-edit:hover {
                stroke: #474700;
            }

        }

        .btn-reset-pass {
            background-color: transparent;
            border-style: none;
            cursor: pointer;
            padding: 0;
            margin: auto;
            
            .icon-reset-pass {
                fill: v.$cancelar-color;
                width: 1.75rem;
                height: 1.75rem;
                transition: filter 0.2s ease-in-out;
            }

            .icon-reset-pass:hover {
                fill: v.$cancelar-hover-color;
            }
        }

        .btn-read-user,
        .btn-assign
        {
            background-color: transparent;
            border-style: none;
            cursor: pointer;
            padding: 0;
            margin: auto;
            
            .icon-read-user,
            .icon-assign
            {
                fill: v.$primary-color;
                width: 1.75rem;
                height: 1.75rem;
                transition: filter 0.2s ease-in-out
            }

            .icon-read-user:hover,
            .icon-assign:hover
            {
                fill: v.$primary-hover-color;
            }
        }
    }
    
}
